* {box-sizing: border-box;}

.footer{
 text-align: center;
 position: absolute;
  bottom: 0;
 width: 100%;
 height: 60px;
  color;#333;
}

#fb, #insta, #twitter, #linkedin{
  
  width: 25px;
  height: 25px;
  
}