* {
    box-sizing: border-box;
    style
}

.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 80%;
    background: #f1f1f1;
    margin: 4px 30px;
}


.search:after {
    content: "";
    clear: both;
    display: table;
}



.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 150px;
  opacity: 0.6;
  transition: 0.3s;
}

.button:hover {opacity: 1}

.Announce{
  font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size:2vw;
    font-style: oblique;
    text-align: center;
    color: Blue;

}



