#outline{
	width:100%;
	height: 100%;
	margin:10px;
	background-color:#aacc11;
	color;#2233dd;
	border:1px;
	border-style:solid;
	line-height=130%;
}

#header{
	padding:5px;
	background-color:Black;
	border-bottom-style:solid;
	border-bottom-color:green;
	color:Blue;
	text-align:left;
	font-size: 25px;

}