body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #ffffff;}

input[type=text], input[type=password], input[type=Number], select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=Number]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

h1, p{
    text-align: center;
}

.btn-primary{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
}

.btn-primary:hover{
    opacity: 0.8;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    opacity: 1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
}

.cancelbtn:hover{
    opacity: 0.8;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .btn-primary {
  float: left;
  width: 50%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.account {
    float: right;
    padding-top: 12px;
    font-size: 20px;
    font-style:oblique;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.account {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}